<link href="https://www.andrimo.com/assets/css/our-partner.css" rel="stylesheet">
<script src="https://www.andrimo.com/assets/js/our-partner.js" type="text/javascript"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<div class="customer-logos">
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image1.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image2.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image3.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image4.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image5.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image6.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image7.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image8.png"></div>
</div>
				
