<div class="customer-logos">
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image1.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image2.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image3.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image4.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image5.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image6.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image7.png"></div>
  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image8.png"></div>
</div>
				
