---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.actions {
  float:right;
}

.notice {
  color: #ffff;
  background-color: #A067AB;
  background-image: linear-gradient(120deg, #5073B8, #A067AB);
  display: block;
  margin-block-start: 1em;
   margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;


