---
layout: default
---

{% include masthead/masthead-page.html %}

<div class="container">

  <!-- Show paginated posts for the specificed collection -->
  <div class="row">
    {% assign sorted = site.review | sort: "rank" %}
    {% for review in sorted %}

    <div class="col-md-4">
      <div class="item-preview mb-5">
        <a class="item-preview-img box-shadow-lg d-block mb-3" href="{{ review.src }}">
          <img class="lazy img-fluid" data-src="{{ review.img-thumbnail }}" alt="{{ review.img-desc }}">
        </a>
        <div class="item-preview-title">{{ review.title }}</div>
        <div class="item-preview-description">{{ review.bump }}</div>
      </div>
    </div>

    {% endfor %}

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{{ content }}
